<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <h1>
                    welcome profile
                </h1>
                <button (click)="logout()" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">LogOut
                    <mat-icon color="accent" matSuffix>logout</mat-icon>
                </button>
            </mat-card>
        </div>
    </div>
</div>
